#TabsToolbar {
    visibility: collapse !important;
}
#main-window:not([customizing]) #navigator-toolbox:not(:focus-within):not(:hover) {
    margin-top: -45px;
}
#navigator-toolbox {
    transition: 0.2s margin-top ease-out;
}

/* hide the "Tree Style Tab" header at the top of the sidebar (only Tree Style Tab sidebar)
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
}
*/
